body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}


.searchInput {
    border-color: #333;
    border-width: 3px;
    border-style: solid;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    padding: 0 5px 0 7px;
    width: 80%;
    margin-top: 5px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.searchButton {
    padding: 5px;
    border: 4px #20A6FF solid;
    background-color: #20A6FF;
    width: 36px;
    height: 36px;
    color: transparent;
    line-height: 0;
    position: relative;
    top: -2px;
    background-repeat: no-repeat;
    background-position: center center;
}

.searchArea {
 display: inline-block; 
}